/******************************************************************************
 * Firefox user.js by Denis G.
 * https://github.com/denis-g/firefox-user.js
 *
 * Floating Findbar On Top
 * https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/floating_findbar_on_top.css
 *****************************************************************************/

findbar {
    -moz-box-ordinal-group: 0; /* Fx <112 compatibility */
    order: -1;
    margin-bottom: -33px;
    position: relative;
    border-top: none !important;
    padding: 0 !important;
    transition: transform 82ms linear, opacity 82ms linear 32ms !important;
    background: none !important;
    pointer-events: none;
    z-index: 1;
    white-space: nowrap;
}

.findbar-container > .findbar-find-fast {
    padding: var(--toolbarbutton-inner-padding) 1px;
    margin: 0 !important;
}

findbar[hidden] {
    transform: translateY(-30px);
}

findbar > .findbar-container,
findbar > .close-icon {
    border: 1px solid var(--chrome-content-separator-color);
    border-width: 0 0 1px 0;
    background-color: var(--lwt-accent-color) !important;
    background-image: linear-gradient(var(--toolbar-bgcolor), var(--toolbar-bgcolor)), var(--lwt-header-image, none);
    pointer-events: auto;
}

findbar > .findbar-container {
    border-bottom-right-radius: 4px;
    border-right-width: 1px;
    height: initial !important;
    margin-inline: 0 !important;
    overflow-inline: visible !important;
}

.findbar-find-status{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    -moz-box-flex: 1; /* Fx <112 compatibility */
    flex-grow: 1;
}

.findbar-closebutton {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 5px !important;
    width: initial !important;
    -moz-box-ordinal-group: 0; /* Fx <112 compatibility */
    order: -1;
}

.findbar-closebutton > image {
    padding: 3px;
}

.findbar-closebutton:hover > image {
    background: var(--toolbarbutton-hover-background) !important;
    border-radius: 4px;
}

findbar > .findbar-container > hbox {
    margin: 0 5px;
}

findbar::after {
    content: '';
    display: flex;
    -moz-box-flex: 100; /* Fx <112 compatibility */
    flex-grow: 100;
}

@supports -moz-bool-pref("userchrome.floating-findbar-on-right.enabled") {
    findbar {
        -moz-box-direction: reverse; /* Fx <112 compatibility */
        flex-direction: row-reverse;
    }

    findbar > .findbar-container {
        -moz-box-direction: reverse; /* Fx <112 compatibility */
        flex-direction: row-reverse;
        border-inline-width: 1px 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 4px;
    }

    findbar {
        margin-right: 16px;
        border-right: 1px solid var(--chrome-content-separator-color);
    }
}
