/******************************************************************************
 * Firefox user.js by Denis G.
 * https://github.com/denis-g/firefox-user.js
 *
 * Iconized main menu
 *
 * Reference:
 * https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/iconized_main_menu.css
 *****************************************************************************/

#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before,
#appMenu-protonMainView > .panel-subview-body > toolbarbutton > image {
    fill: currentColor;
    -moz-context-properties: fill;
    margin-inline: 0 8px !important;
}

#appMenu-zoom-controls::before,
#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
    display: flex;
    content: '';
    width: 16px;
    height: 16px;
}

#appMenu-new-tab-button2 {
    list-style-image: url('chrome://browser/skin/new-tab.svg');
}

#appMenu-new-window-button2 {
    list-style-image: url('chrome://browser/skin/window.svg');
}

#appMenu-new-private-window-button2 {
    list-style-image: url('chrome://browser/skin/privateBrowsing.svg');
}

#appMenu-bookmarks-button {
    list-style-image: url('chrome://browser/skin/bookmark-star-on-tray.svg');
}

#appMenu-history-button {
    list-style-image: url('chrome://browser/skin/history.svg');
}

#appMenu-downloads-button {
    list-style-image: url('chrome://browser/skin/downloads/downloads.svg');
}

#appMenu-passwords-button {
    list-style-image: url('chrome://browser/skin/login.svg');
}

#appMenu-extensions-themes-button {
    list-style-image: url('chrome://mozapps/skin/extensions/extension.svg');
}

#appMenu-print-button2 {
    list-style-image: url('chrome://global/skin/icons/print.svg');
}

#appMenu-save-file-button2 {
    list-style-image: url('chrome://browser/skin/save.svg');
}

#appMenu-find-button2 {
    list-style-image: url('chrome://global/skin/icons/search-glass.svg');
}

#appMenu-settings-button {
    list-style-image: url('chrome://global/skin/icons/settings.svg');
}

#appMenu-more-button2 {
    list-style-image: url('chrome://global/skin/icons/developer.svg');
}

#appMenu-help-button2 {
    list-style-image: url('chrome://global/skin/icons/info.svg');
}

#appMenu-quit-button2 {
    list-style-image: url('chrome://devtools/skin/images/search-clear.svg');
}

#appMenu-translate-button {
    list-style-image: url('chrome://browser/skin/translations.svg');
}

#appMenu-zoom-controls::before {
    background-image: url('chrome://browser/skin/fullscreen.svg');
}

#appMenu-fxa-status2[fxastatus] > toolbarbutton::before {
    background-image: var(--avatar-image-url);
}

#appMenu-protonMainView > .panel-subview-body::after,
#appMenu-mainView > .panel-subview-body::after {
    content: '';
    display: flex;
    border-bottom: 1px solid var(--panel-separator-color);
    margin: var(--panel-separator-margin);
}

#appMenu-translate-button ~ * {
    order: 2;
}
