/******************************************************************************
 * Firefox user.js by Denis G.
 * https://github.com/denis-g/firefox-user.js
 *
 * Reduce space for tabs
 *
 * Reference:
 * https://github.com/mozilla-firefox/firefox/blob/main/browser/themes/shared/browser-shared.css
 *****************************************************************************/

.titlebar-spacer {
    &[type="pre-tabs"] {
        width: 10px !important;
    }

    &[type="post-tabs"] {
        display: none !important;
    }
}
